<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <h2>Add Book</h2>

    <form th:action="@{/books/add}"
          th:object="${book}"
          method="post">

        <input placeholder="Book ID" th:field="*{id}">
        <input placeholder="Title" th:field="*{title}">
        <p class="error" th:errors="*{title}"></p>

        <input placeholder="Author" th:field="*{author}">
        <p class="error" th:errors="*{author}"></p>

        <input placeholder="Price" th:field="*{price}">
        <p class="error" th:errors="*{price}"></p>

        <button>Add Book</button>

    </form>

</div>
</body>
</html>