<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login - Library Management</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <h2>User Login</h2>

    <form th:action="@{/login}" method="post">

        <label>Email</label>
        <input type="email"
               name="email"
               placeholder="Enter Email"
               required>

        <label>Password</label>
        <input type="password"
               name="password"
               placeholder="Enter Password"
               required>

        <!-- Error Message -->
        <p class="error" th:if="${error}"
           th:text="${error}"></p>

        <button type="submit">Login</button>

    </form>

    <br>

    <p style="text-align:center;">
        Don't have an account?
        <a th:href="@{/register}">Register Here</a>
    </p>

</div>

</body>
</html>